*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #fff;
    --background-color: #2B2621;
}

body { 
    background: var(--background-color);  /* Zet de achtergrondkleur van de pagina op een donkerbruine tint */
} 



div {
    display: flex;
    background-color: none;
}

.button-open-menu {
    all: unset;
    padding-left: .5em;
    cursor: pointer;
}

.button-sluit-menu {
    all: unset;
    padding-left: .5em;
    cursor: pointer;
    padding: 1em 0 1em 1em;
}

h1 {
    font-family: "myriad-pro", sans-serif;
    font-size: 2.3rem;
    font-weight: 400; 
    font-style: normal;  /* Zet de tekststijl op normaal */
    color: white; 
    text-transform: uppercase; 
    text-align: center;
    padding: .5em 2em .5em 0;
    flex-grow: 1;
    animation: textease 2.2s cubic-bezier(.34,.75,.83,.67) /*disney animation: slow in and slow out */
}



nav {
    
    position: fixed;
    left:0; /*navigatiebar beslaat gehele scherm*/
    right: 70em;
    top:0;
    bottom:0;
    translate:-100% 0%; /*de navigatiebar uit beeld schuiven met translate. De nav beweegt zijn eigen breedte 100% naar links.*/
    transition: translate .4s; /*Menu komt binnen .3sec in beeld*/
    background-color: #2B2621;
}

.menu-items {
    display: flex;
    flex-direction: column;
    padding: 1em 0 0 1.5em;
}


nav.toonMenu { /* als menu open is */
    translate: 0% 0%;
  }

h2 {
    color: white; /* Zet de kleur van de tekst op wit */
}

main {
    padding: 2em 1em 0 1em;
    @media (min-width: 600px) { /* Voor schermen die maximaal 725px zijn wordt de onderstaande regel uitgevoerd */
        padding: 3em 5em 2em 5em; /* Pas de padding aan voor kleinere schermen */
    }
    @media (min-width: 725px) {
        padding: 3em 20em 3em 20em;
    }
}

ul {
    padding: 0; 
    list-style-type: none; 
    display: flex; 
    gap: 1em; 
    overflow-x: auto; /* Maakt horizontaal scrollen mogelijk */
    /*scroll-snap-type: x mandatory; Zet automatisch centreren bij scrollen aan op de x-as: als je scrolt komt de meest dichtsbijzijnde foto op de focus */
	scroll-snap-type: x proximity; /*geeft meer vrijheid dan mandatory. De carousel sprint ook naar een snap-punt, maar alleen als je stopt met scrollen en dicht genoeg bij zo'n punt bent.*/
    overscroll-behavior-x: contain;  /* Beperkt het horizontale scrollgedrag: vermijdt het swipen naar een andere pagina  */
    width: 100%; 
}

li {
	flex-shrink:0; /* Voorkomt dat het <li>-element krimpt bij weinig ruimte */
	scroll-snap-align: center; /* Stelt het item in op centreren bij het scrollen */
    min-width: 150px; /* Stelt de minimale breedte van elk <li>-element in */
    
}

img {
    display:block; /* Verwijdert de extra ruimte rondom afbeeldingen */
    align-items: center; /* Centreert de afbeelding binnen zijn container */
}


a {
    color: #fff; 
    font-family: 'Gabriola', sans-serif; 
    letter-spacing: 1.5px; 
    font-size: 1.4rem;
    font-weight: 600; 
    margin-top: 2em; 
    text-decoration: none;  
    cursor: pointer;

}

/* Disney animation: slow in and slow out */

@keyframes textease {
    0% {
    translate: 100%; /* Begin de tekst buiten het scherm naar rechts*/
    }
    100% {
        translate: 0; /* Laat de tekst volledig naar zijn eindpositie bewegen. */
    }
}

/* view transition */

@view-transition { /* Schakelt view-overgangen in voor navigatie binnen hetzelfde domein. bron: https://developer.mozilla.org/en-US/docs/Web/CSS/@view-transition */
    navigation: auto;
}

@keyframes move-out {
    from {
      transform: translateY(0%);
    }
  
    to {
      transform: translateY(-100%); /* Beweegt omhoog uit het zicht */
    }
  }
  
  @keyframes move-in { /* Definieert de 'move-in' animatie voor het nieuwe  element */
    from {
      transform: translateY(100%);
    }
  
    to {
      transform: translateY(0%); /* Beweeg naar de oorspronkelijke positie */
    }
  }
  
  ::view-transition-old(root) {
    animation: 0.6s ease-in both move-out; /* Animeren over 0.6 seconden met een 'ease-in' timingfunctie */
  }
  
  ::view-transition-new(root) {
    animation: 0.6s ease-in both move-in;
  }