{% render 'partials/head.liquid' %}

<body>
    <header>
        <h1>Experimenten</h1>
        <hr/>
    </header>

    

    <body>

        <section>
            <a href="/scrolldriven">
                <h2>Experiment</h2>
                <p>Scroll Driven Animations</p>
            </a>
        </section>

        <section>
            <a href="https://karima002.github.io/look-and-feel-corporate-identity-/opdrachten/testdarkmode.html">
                <h2>Experiment</h2>
                <p>Dark mode (advanced)</p>
            </a>
        </section>

        <section>
            <a href="/core">
                <h2>Experiment</h2>
                <p>Core functionaliteit</p>
            </a>
        </section>


        <section>
            <a href="viewtransition.html">
                <h2>Experiment</h2>
                <p>View transition between pages</p>
            </a>
        </section>

        <section>
            <a href="https://codepen.io/Karima-Mouadi/pen/PwYvJqy?editors=1100">
                <h2>CSS challenge</h2>
                <p>:has()</p>
            </a>
        </section>

        
        <section>
            <a href="https://codepen.io/Karima-Mouadi/pen/emOaeGr">
                <h2>CSS challenge</h2>
                <p>:has() magnify</p>
            </a>
        </section>

        <section>
            <a href="imagereveal.html">
                <h2>Experiment</h2>
                <p>Image reveal with JS</p>
            </a>
        </section>


        <section>
            <a href="https://karima002.github.io/css-challenge-typografie-/oefening2/index.html">
                <h2>CSS challenge</h2>
                <p> Fonts en font-properties</p>
            </a>
        </section>

        <section>
            <a href="https://codepen.io/Karima-Mouadi/pen/JjQQbjM">
                <h2>CSS challenge</h2>
                <p> 3D Transform</p>
            </a>
        </section>

        <section>
            <a href="https://codepen.io/Karima-Mouadi/pen/BagbJzX">
                <h2>CSS challenge</h2>
                <p>Grid layout</p>
            </a>
        </section>

        <section>
            <a href="https://karima002.github.io/i-love-web/opdrachten/arc.html">
                <h2>Experiment</h2>
                <p>Disney animation: Arc</p>
            </a>
        </section>

        
    </body>