{% render 'partials/head.liquid', title: "homepage" %}

<body>
    <header>

        <div> 
            <button class="button-open-menu">
                <img src="../assets/icoon-menu.svg">
            </button>

            <h1> Learning log</h1>
        </div>

        <nav>
            <button class="button-sluit-menu">
                <img src="../assets/icoon-sluiten.svg">
            </button>

            <ul class="menu-items">
                <li><a href="/" class="menu-link">Home</a></li>
                <li><a href="/experimenten" class="menu-link">Experimenten</a></li>
                <li><a href="/weloveweb" class="menu-link">We ♥ Web</a></li>
                <li><a href="projecten.html" class="menu-link">Projecten</a></li>
                <li><a href="contact.html" class="menu-link">Contact</a></li>

            </ul>
        </nav>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1920 100">
            <defs>
              <style>
                .cls-1, .cls-2 {
                  fill: #fff8f3;
                }
          
                .cls-2 {
                  font-family: Gabriola, Gabriola;
                  font-size: 72px;
                }
              </style>
            </defs>
            <!-- Generator: Adobe Illustrator 28.7.2, SVG Export Plug-In . SVG Version: 1.2.0 Build 154)  -->
            <g>
              <g id="Layer_1">
                <text class="cls-2" transform="translate(829.68 71.11)"><tspan x="0" y="0">I love web</tspan></text>
                <rect class="cls-1" y="46" width="812" height="9"/>
                <rect class="cls-1" x="1078" y="45" width="812" height="9"/>
              </g>
            </g>
          </svg>
    </header>      

    <main>
        <ul class="photos">
            <li>
                <img src="../assets/foto1.jpg" alt="foto van raam van het gebouw Ben Youssef Madrasa in Marrakech">
                <a href="/sprint1">Sprint 1</a>
            </li>

            <li>
                <img src="../assets/foto2.jpg" alt="foto van witte fiets in een lege witte ruimte">
                <a href="/sprint2">Sprint 2</a>
            </li>

            <li>
                <img src="../assets/foto3.jpg" alt="foto van een riad in Marrakech">
                <a href="/sprint3">Sprint 3</a>
            </li>

            <li>
                <img src="../assets/foto4.jpg" alt="foto van een riad in Marrakech">
                <a href="/sprint4">Sprint 4</a>
            </li>

            <li>
                <img src="../assets/foto5.jpg" alt="foto van een riad in Marrakech">
                <a href="/sprint5">Sprint 5</a>
            </li>


            <li>
                <img src="../assets/foto6.jpg" alt="foto van een riad in Marrakech">
                <a href="/sprint6">Sprint 6</a>
            </li>

            <li>
                <img src="../assets/foto7.jpg" alt="foto van een riad in Marrakech">
                <a href="/sprint7">Sprint 7</a>
            </li>

            <li>
                <img src="../assets/foto8.jpg" alt="foto van een riad in Marrakech">
                <a href="/sprint8">Sprint 8</a>
            </li>

            <li>
                <img src="../assets/foto10.jpg" alt="foto van palmnbomen in een drukke straat">
                <a href="/content-semester-1">Overzicht semester 1</a>
            </li>

            <li>
                <img src="../assets/sprint9.jpg" alt="foto van het Leidseplein">
                <a href="/sprint10">Sprint 10</a>
            </li>
            
            <li>
                <img src="../assets/foto10.jpg" alt="foto van het Leidseplein">
                <a href="/sprint11">Sprint 11</a>
            </li>

            <li>
                <img src="../assets/sprint11.jpg" alt="foto van het Leidseplein">
                <a href="/sprint12">Sprint 12</a>
            </li>
        </ul>
    </main>

    <!-- Standaard code voor het toevoegen van een dag:
            <article>
                <h3>datum</h3>
                <p class="paragraaf">Zie voor meer informatie<a href="" style="color: #A28F7B;"> Github.</a></p> 
            </article>
      -->
    <script src="scripts/index.js"></script>

    {% render 'partials/foot.liquid' %}