{% render 'partials/headsprint.liquid'%}
{% render 'partials/header.liquid', title: "sprint 9" %}

<body>
 
     <header>
        <h1> Learning log</h1>
          
        {% render 'partials/i-love-web.liquid', title: "svg i-love-web" %}

    </header> 
    <main>
        <h2>Sprint 12: Proof of concept</h2>

        <section>
          {% for file in files %}
            <article>
                    <a href="/sprint12/{{ file | slice:0, -3}}">{{ file | slice:0, -3}}</a>
            </article>
          {% endfor %}
        </section>
    </main>