{% render 'partials/headsprint.liquid' %}

<body>
    <header>
        <h1> Learning log</h1>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1920 100">
            <defs>
              <style>
                .cls-1, .cls-2 {
                  fill: #fff8f3;
                }
          
                .cls-2 {
                  font-family: Gabriola, Gabriola;
                  font-size: 72px;
                }
              </style>
            </defs>
            <!-- Generator: Adobe Illustrator 28.7.2, SVG Export Plug-In . SVG Version: 1.2.0 Build 154)  -->
            <g>
              <g id="Layer_1">
                <text class="cls-2" transform="translate(829.68 71.11)"><tspan x="0" y="0">I love web</tspan></text>
                <rect class="cls-1" y="46" width="812" height="9"/>
                <rect class="cls-1" x="1078" y="45" width="812" height="9"/>
              </g>
            </g>
          </svg>
    </header> 


    <main>
        <h2>Sprint 8: Server-Side renderen</h2>

        <section>
            <article>
                <h3>datum</h3>
                <p class="paragraaf">Zie voor meer informatie<a href="" style="color: #A28F7B;"> Github.</a></p> 
            </article>
            
            <article>
                <h3>7 maart 2025</h3>
                <p class="paragraaf">In een groepje met Nadia, Amber en Kyan hebben we aan elkaar uitgelegd wat we hebben gemaakt en waar we tegenaan liepen. Ook hebben we elkaar onze code uitgelegd. Vervolgens hebben we per persoon een aantal vragen opgesteld. Ook stond er voor vandaag een vette We love web op de planning. Deze werd gegeven door Cassie Evans werkzaam bij GSAP. Zie voor meer informatie<a href="https://github.com/Karima002/server-side-rendering-server-side-website-/issues/6" style="color: #A28F7B;"> Github.</a></p> 
                <video controls height="300">
                    <source src="/assets/weloveweb.mp4" type="video/mp4"/>
                </video>
            </article>

            <article>
                <h3>12 maart 2025</h3>
                    <h4>Data filteren en template filters</h4>
                    <h5>👉 Experiment 1: Ik wil alle studenten gesorteerd op name       </h4>
                    <p class="paragraaf">https://fdnd.directus.app/items/person?fields=name&sort=name</p>

                    <br> 

                    <h5>👉 Experiment 2: Ik wil alle names van studenten die een name hebben die begint met de letter                    </h4>
                    <p class="paragraaf">https://fdnd.directus.app/items/person?fields=name&filter[name][_starts_with]=D</p>
                    
                    <br> 

                    <h5>👉 Experiment 3: Ik wil alle names van studenten die een name hebben die begint met de letter D of K</h4>
                    <p class="paragraaf">https://fdnd.directus.app/items/person?fields=name&filter[_or][0][name][_starts_with]=D&filter[_or][1][name][_starts_with]=k</p>
                    
                    <br> 

                    <hr>
                    <h4>Template filters in Liquid</h4>
                    <h5> Experiment 3: Ik wil mijn lijst omgekeerd weergeven</h4>
                    {% assign cities = "Amsterdam, Almere, Arnhem, Amstelveen, Zaandam" | split: ", " %}
                    {{ cities | reverse | join: ", " }}

              </article> 

            <!--
            <article>
                <h3>datum</h3>
                <p class="paragraaf">Zie voor meer informatie<a href="" style="color: #A28F7B;"> Github.</a></p> 
            </article> 
            -->
        </section>
    </main>
</body>
        