{% render 'partials/headsprint.liquid' %}

<body>
    <header>
        <h1> Learning log</h1>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1920 100">
            <defs>
              <style>
                .cls-1, .cls-2 {
                  fill: #fff8f3;
                }
          
                .cls-2 {
                  font-family: Gabriola, Gabriola;
                  font-size: 72px;
                }
              </style>
            </defs>
            <!-- Generator: Adobe Illustrator 28.7.2, SVG Export Plug-In . SVG Version: 1.2.0 Build 154)  -->
            <g>
              <g id="Layer_1">
                <text class="cls-2" transform="translate(829.68 71.11)"><tspan x="0" y="0">I love web</tspan></text>
                <rect class="cls-1" y="46" width="812" height="9"/>
                <rect class="cls-1" x="1078" y="45" width="812" height="9"/>
              </g>
            </g>
          </svg>
    </header> 


    <main>
        <h2>Sprint 7: Connect your tribe</h2>]

        <section>
          <article>
            <h3>3 februari 2025</h3>
            <p class="paragraaf">Vandaag hebben we een begin gemaakt met NodeJS en JSON. Ik heb de volgende dingen geleerd: Null betekent dat er geen github_handle (naam) voor die persoon bestaat. De null schrijf je zonder haakjes net als false en true. Let ook op de komma na elke object behalve na de laatste. Je kan bij de laatste ook een komma zetten maar dat is geen conventie. 1G is geen cijfer dus heeft wel haakjes. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/6-januari-2025" style="color: #A28F7B;"> Github.</a></p>
            
          </article>
        
          <article>
            <h3>4 februari 2025</h3>
            <p class="paragraaf">Tijdens de CSS challenge hebben we geoefend met :has. Het resultaat is te zien onder experimenten. Zie <a href="https://karima002.github.io/i-love-web/experimenten/experimenten.html" style="color: #A28F7B;"> experimenten.</a></p>
          </article>
        
          <article>
            <h3>5 februari 2025</h3>
            <p class="paragraaf">Vandaag hebben we geoefend met het maken van nieuwe routes in server.js. Ook hebben we experimenten uitgevoerd met liquid filters. Dit heb ik opgeslagen in oefene.liquid. Zie  <a href="https://github.com/Karima002/connect-your-tribe-profile-card-/blob/main/views/oefenen.liquid" style="color: #A28F7B;"> oefenen.liquid</a></p>
          </article>
        
          <article>
            <h3>6 februari 2025</h3>
            <p class="paragraaf">Voor vandaag stond de JS challenge op de planning. Tijdens deze challenge heeft Joost server.js stap voor stap uitgelegd. Een link naar mijn aantekeningen is hier te zien. Zie voor meer informatie<a href="https://github.com/Karima002/connect-your-tribe-profile-card-/issues/3" style="color: #A28F7B;"> Github.</a></p>
          </article>
        
          <article>
            <h3>7 februari 2025</h3>
            <p class="paragraaf">We werden in een groep gezet van 3 personen. Daarna gingen we de NodeJS code aan elkaar uitleggen. Op het whiteboard hebben we 3 interessante technieken opgeschreven. Zie voor meer informatie<a href="" style="color: #A28F7B;"> Github.</a></p>
            <img src="../assets/imagesprint7.jpg">
          </article>
        
          <article>
            <h3>10 februari 2025</h3>
            <p class="paragraaf">Met een team van 3 personen. De opdracht is op een squadpage te ontwerpen met. We hebben eerst een teamcanvas gemaakt. Vervolgens hebben we 6 schetsen gemaakt per persoon.  Zie voor de DLC lifecycle<a href="https://github.com/Karima002/connect-your-tribe-squad-page-/issues/1" style="color: #A28F7B;"> Github.</a></p>
            <img src="../assets/image2sprint7.jpg">
          </article>
        
          <article>
            <h3>12 februari 2025</h3>
            <p class="paragraaf">Vandaag hebben we besproken welke API URL(s) we nodig hebben. We hebben hiervoor alleen de data gebruikt die we nodig hebben voor de website. Ook zijn we bezig geweest met het maken van een teamcanvas.  Zie voor de DLC lifecycle<a href="https://github.com/Karima002/connect-your-tribe-squad-page-/issues/1" style="color: #A28F7B;"> Github.</a></p>
          </article>
        
          <article>
            <h3>14 februari 2025</h3>
            <p class="paragraaf">Met mijn team heb ik ideeën en uitwerkingen van een ander team bekeken. Wij hebben vervolgens bij het andere team een code en design review geschreven. Ook hebben we gereflecteerd op wat goed is gegaan en wat beter kan. We sloten de dag af met een we-love-web. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/14-februari-2025" style="color: #A28F7B;"> Github</a> en <a href="https://github.com/Karima002/i-love-web/wiki/We-love-web-14-februari-2025" style="color: #A28F7B;"> aantekeningen van we-love-web.</a></p>
            <img src="../assets/image3sprint7.jpg">
          </article>

          <article>
            <h3>datum</h3>
            <p class="paragraaf">Zie voor meer informatie<a href="" style="color: #A28F7B;"> Github.</a></p>
          </article>

          <article>
            <h3>datum</h3>
            <p class="paragraaf">Zie voor meer informatie<a href="" style="color: #A28F7B;"> Github.</a></p>
          </article>

          <article>
            <h3>datum</h3>
            <p class="paragraaf">Zie voor meer informatie<a href="" style="color: #A28F7B;"> Github.</a></p>
          </article>

          <article>
            <h3>datum</h3>
            <p class="paragraaf">Zie voor meer informatie<a href="" style="color: #A28F7B;"> Github.</a></p>
          </article>
        </section>
        

      <!-- Standaard code voor het toevoegen van een dag:
      <article>
      <h3>datum</h3>
      <p class="paragraaf">Zie voor meer informatie<a href="" style="color: #A28F7B;"> Github.</a></p>
      </article> -->
    </main>

{% render 'partials/foot.liquid' %}