{% render 'partials/headsprint.liquid', title: "sprint 5" %}

<body>
    <header>
        <h1> Learning log</h1>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1920 100">
            <defs>
              <style>
                .cls-1, .cls-2 {
                  fill: #fff8f3;
                }
          
                .cls-2 {
                  font-family: Gabriola, Gabriola;
                  font-size: 72px;
                }
              </style>
            </defs>
            <!-- Generator: Adobe Illustrator 28.7.2, SVG Export Plug-In . SVG Version: 1.2.0 Build 154)  -->
            <g>
              <g id="Layer_1">
                <text class="cls-2" transform="translate(829.68 71.11)"><tspan x="0" y="0">I love web</tspan></text>
                <rect class="cls-1" y="46" width="812" height="9"/>
                <rect class="cls-1" x="1078" y="45" width="812" height="9"/>
              </g>
            </g>
          </svg>
    </header> 

    <main>
    <h2>Sprint 5: Look and feel</h2>

    <section>
      <article>
          <h3>2 december 2024</h3>
          <p class="paragraaf">Vandaag heb ik een schema gemaakt voor de sprintplanning, inclusief de deeltaken "UI Events" en "JS Fundamentals". Daarnaast heb ik een userstory geschreven en een wireflow met breakdown geschetst, die ik heb gedeeld op GitHub. Wat betreft de deeltaak JS Fundamentals ben ik een tijdje geleden begonnen, maar ik denk dat het beter is om eerst de cursus op LearnProgrammingOnline te starten. Ook heb ik de stappenplan van <a href="https://github.com/Karima002/i-love-web/wiki/3-stappenplan-Javascript-4-december-2024" style="color: #A28F7B;"> javascript</a>. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/2-december-2024" style="color: #A28F7B;"> Github.</a></p>
      </article>
  
      <article>
          <h3>4 december 2024</h3>
          <p class="paragraaf">De workshop van vandaag bestond uit 3 opdrachten: de Console, het 3 stappenplan, en van Comments naar Code. Schrijf hoe ver je bent gekomen met de 3e opdracht en wat moet je daar nog voor doen? Voor de derde opdracht is het de bedoeling dat je al code hebt geschreven waarop je de interactie hebt uitgevoerd. Dit heb ik nog niet gedaan. Vandaar dat ik de derde opdracht niet heb kunnen voeren. Ik zal voor nu beginnen met het beginnen met schrijven nieuwe code. Ik heb wel al een uitwerking kunnen schrijven van het drie stappenplan in <a href="https://github.com/Karima002/i-love-web/wiki/3-stappenplan-Javascript-4-december-2024" style="color: #A28F7B;"> javascript</a>. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/4-december-2024" style="color: #A28F7B;"> Github.</a></p>
      </article>
  
      <article>
          <h3>6 december 2024</h3>
          <p class="paragraaf">Ik ben bezig geweest met het verbeteren van interactieve websites middels het geven van feedback aan studiegenoten. Daarnaast ben ik begonnen met de module JS Fundamentals. In Introduction heb ik geleerd hoe je met let een variabele maakt, bijvoorbeeld age. In Basic operations kwam ik erachter hoe je simpele berekeningen kunt doen met operatoren zoals + en *, en hoe je variabelen gewoon kunt hergebruiken zonder weer let te schrijven. Bij Basic functions ontdekte ik hoe je functies maakt met function en resultaten teruggeeft met return. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/6-december-2024" style="color: #A28F7B;"> Github.</a></p>
      </article>
  
      <article>
          <h3>9 december 2024</h3>
          <p class="paragraaf">Op 9 december werkte ik aan de opdracht over User Interface Events. Ik voegde tien interacties toe, zoals een dubbelklik om een link te laten bibberen, een muisover-effect dat de kleur veranderde, en een toetsenbordtoets om een link te roteren. Elke interactie beschouwde ik als een apart issue en werkte ik volgens de development lifecycle uit. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/9-december-2024" style="color: #A28F7B;"> Github.</a></p>
      </article>
  
      <article>
          <h3>10 december 2024</h3>
          <p class="paragraaf">Voor vandaag stond een JS challenge op de planning. Het ging over de view-transition. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/10-december-2024" style="color: #A28F7B;"> Github.</a></p>
      </article>
  
      <article>
          <h3>11 december 2024</h3>
          <p class="paragraaf">Op 11 december werkte ik aan het ontwerpen en bouwen van feedback en feedforward voor formulieren. Ik begon met een experiment: een formulier met een vereist veld dat standaard door de browser gevalideerd werd. Vervolgens paste ik de standaard feedbackmeldingen aan met JavaScript, door in te spelen op het invalid-event. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/11-december-2024" style="color: #A28F7B;"> Github.</a></p>
      </article>
  
      <article>
          <h3>16 december 2024</h3>
          <p class="paragraaf">Vandaag werkte ik aan het verbeteren van navigatie met feedback en feedforward. Navigatie helpt gebruikers begrijpen wat er is, waar ze zijn en waar ze naartoe kunnen. Ik begon met het bestuderen van straatnaambordjes en bewegwijzering in webdesign: feedback toont waar de gebruiker is, en feedforward waar ze naartoe kunnen. We hebben straatnaambordjes en bewegwijzering van verschillende websites bestudeerd. Ook hebben we verschillende iconen en labels nagetekend. Zie voor meer informatie<a href="" style="color: #A28F7B;"> Github.</a></p>
      </article>
  </section>
  
</main>
    
{% render 'partials/foot.liquid' %}