{% render 'partials/headsprint.liquid' %}

<body>
    <header>
        <h1> Learning log</h1>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1920 100">
            <defs>
              <style>
                .cls-1, .cls-2 {
                  fill: #fff8f3;
                }
          
                .cls-2 {
                  font-family: Gabriola, Gabriola;
                  font-size: 72px;
                }
              </style>
            </defs>
            <!-- Generator: Adobe Illustrator 28.7.2, SVG Export Plug-In . SVG Version: 1.2.0 Build 154)  -->
            <g>
              <g id="Layer_1">
                <text class="cls-2" transform="translate(829.68 71.11)"><tspan x="0" y="0">I love web</tspan></text>
                <rect class="cls-1" y="46" width="812" height="9"/>
                <rect class="cls-1" x="1078" y="45" width="812" height="9"/>
              </g>
            </g>
          </svg>
    </header> 

    <main>
      <h3>Sprint 4: Look and feel</h3>
    
      <section>
    <article>
        <h3>11 november 2024</h3>
        <p class="paragraaf">Op 11 november 2024 werkten we met ons Redpers-team aan de sprintplanning. We maakten een sitemap en een wireframe voor de website, met afzonderlijke ontwerpen voor de homepage en de contactpagina. Daarna brachten we met een interface-inventory de huisstijlelementen in kaart, zoals typografie, media, en knoppen. Voor de styleguide bepaalden we kleuren en typografische elementen. De stylesheet in HTML en CSS maken we deze week af voor de code review op de vrijdag. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/11-november-2024" style="color: #A28F7B;"> Github.</a></p>
    </article>
    
    <article>
        <h3>12 november 2024</h3>
        <p class="paragraaf">Op 12 november 2024 volgde ik een workshop over variëren in Figma, gegeven door Wes Oudshoorn. Wes deelde zijn ervaringen als developer en ondernemer, waarna hij ons begeleidde bij het maken van drie variaties van een app-template in Figma. We leerden onder andere om tekst met een gradient-effect toe te voegen en vormen met layer blur te bewerken. Voor elke variatie gaf hij feedback, zoals het vermijden van bepaalde kleuren en het aanpassen van de helderheid van effecten. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/12-november-2024" style="color: #A28F7B;"> Github.</a></p>
    </article>
    
    <article>
        <h3>13 november 2024</h3>
        <p class="paragraaf">Op 13 november 2024 werkte ik aan de leertaak Stylesheet, waarbij ik een gestructureerde CSS-stylesheet leerde maken met classes en custom properties. We analyseerden onder andere de opbouw van CSS op websites en onderzochten de toepassing van scoping en fallbacks. Ook bespraken we het gebruik van :root voor globale custom properties en maakten afspraken over onze CSS-strategie in een projectboard en team canvas. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/13-november-2024" style="color: #A28F7B;"> Github.</a></p>
    </article>
    
    <article>
        <h3>14 november 2024</h3>
        <p class="paragraaf">Vandaag was ik bezig met het invullen van de Teamcanvas. Ook heb ik de leertaak van 13 november doorgenomen en de code voor custom properties bestudeerd. In de uitleg over de .button class leer ik hoe de kleur van de knop wordt bepaald door de variabelen --hue (kleurtoon) en --lightness (helderheid). Bij interactie (zoals hover en focus) wordt de helderheid aangepast om visuele feedback te geven. De button-ok class is bijvoorbeeld groen door de kleurtooninstelling --hue: 100. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/14-november-2024" style="color: #A28F7B;"> Github.</a></p>
    </article>
    
    <article>
        <h3>15 november 2024</h3>
        <p class="paragraaf">Vandaag was ik bezig met het reviewen van de stylesheets van de groepen Mediahuis en DDA Vacature. Bij Mediahuis viel het me op hoe duidelijk ze de kleuren voor de knoppen hadden genoteerd. Dit was overzichtelijk en ik zou deze aanpak graag overnemen voor mijn eigen werk. Je kunt de issues van beide groepen hier vinden: <a href="https://github.com/vsheo/look-and-feel-styleguide/issues/3" style="color: #A28F7B;"> Mediahuis</a> en <a href="https://github.com/vsheo/look-and-feel-styleguide/issues/5" style="color: #A28F7B;"> DDA Vacature</a>. Zie voor meer informatie<a href="" style="color: #A28F7B;"> Github.</a></p>
    </article>
    
    <article>
        <h3>18 november 2024</h3>
        <p class="paragraaf">Vandaag heb ik mijn eigen font ontworpen via Aresluna, het bestand gedownload als een OTF-bestand en ingeladen in mijn CSS.<a href="" style="color: #A28F7B;"> Github.</a></p>
        <ul>
            <p class="paragraaf">Drie dingen die ik geleerd heb:</p>
            <li><p class="paragraaf">Meerdere fonts bij font-family: een gedownload font en fallback fonts (zoals Verdana).</p></li>
            <li><p class="paragraaf">Het standaard font voor de browser is Times Roman (serif), terwijl sans-serif fonts zoals Arial geen schreef hebben.</p></li>
            <li><p class="paragraaf">Het invoegen van een font-bestand kan via @font-face in CSS.</p></li>
        </ul>
    </article>
    
    <article>
        <h3>20 november 2024</h3>
        <p class="paragraaf">Tijdens mijn leertaak leerde ik veel over HTML en CSS. Bij HTML ontdekte ik dat elk formulier met een form-element begint en dat elk invoerveld een label moet hebben voor toegankelijkheid. Door p-elementen te gebruiken, kan ik de velden netjes onder elkaar zetten. Met CSS leerde ik hoe ik de achtergrondkleur van invoervelden kan aanpassen met background-color en hoe ik met width een tekstvak groter kan maken. Ook ontdekte ik hoe ik met specifieke selectors zoals form:not(.form_search) input:not([type="submit"]) bepaalde velden kan stylen. <a href="https://github.com/Karima002/i-love-web/wiki/20-november-2024" style="color: #A28F7B;"> Github.</a></p>
    </article>
    
    <article>
        <h3>22 november 2024</h3>
        <p class="paragraaf">Vandaag hebben we in een groep met mensen uit verschillende projecten issues besproken en geschoten op GitHub. Dit hielp me om inzicht te krijgen in hoe anderen problemen aanpakken en oplossingen vinden.</p>
        <p class="paragraaf">Daarnaast vroeg ik aan @KoopReynders verduidelijking over het “mobile first”-principe. Ik begreep dat je bij het ontwerpen kunt starten met een groot scherm, maar bij het coderen begin je met de mobiele versie. Via de browser-inspector stel je de weergave in op mobiel. Daarna schrijf je alle CSS voor mobiele schermen. Pas als dat goed werkt, voeg je met @media (min-width) aanpassingen toe voor grotere schermen.</p>
        <p class="paragraaf">We bespraken ook het proces van het maken van een website binnen een agency, uitgelegd door Emiel van Betsbrugge. Dit begint met een pitch, gevolgd door een discovery-fase waarin onduidelijkheden worden uitgewerkt. Daarna volgen ontwerp, development en sprintplanning. De site wordt getest door een extern QA-team en afgesloten met een retrospectieve evaluatie. Dit proces zorgt voor een betere workflow. <a href="https://github.com/Karima002/i-love-web/wiki/22-november-2024" style="color: #A28F7B;"> Github.</a></p>
    </article>
    
    <article>
        <h3>25 november 2024</h3>
        <h3>Law of Proximity (Wet van Nabijheid)</h3>
        <p class="paragraaf">Definitie: Elementen die dicht bij elkaar staan, worden gezien als een groep of geheel. Voorbeeld: Als je een verzameling punten ziet die in clusters bij elkaar staan, zul je deze punten automatisch als afzonderlijke groepen interpreteren.</p>
        <h3>Law of Similarity (Wet van Gelijkheid)</h3>
        <p class="paragraaf">Definitie: Elementen die qua uiterlijk op elkaar lijken (zoals kleur, vorm, grootte), worden als bij elkaar horend beschouwd. Voorbeeld: In een diagram waar sommige stippen dezelfde kleur hebben, zien we die stippen als deel van dezelfde groep.</p>
        <h3>Law of Continuity (Wet van Continuïteit)</h3>
        <p class="paragraaf">Definitie: Elementen die op een lijn of kromme liggen, worden als een doorlopend geheel gezien, zelfs als de lijn onderbroken is. Voorbeeld: Bij het zien van een reeks punten die een gebogen lijn vormen, interpreteren we dit als een vloeiende beweging, ook al zijn de punten niet verbonden. <a href="https://github.com/Karima002/i-love-web/wiki/25-november-2024" style="color: #A28F7B;"> Github.</a></p>
    </article>
    
    <article>
        <h3>27 november 2024</h3>
        <p class="paragraaf">Vandaag ben ik bezig geweest met het afronden van mijn website voor de sprint review. Ook ben ik bezig geweest met de laatste bugs: het plaatsen van de logo in het midden bij mobiele versie. Deze vraag heb ik voorgelegd aan Sanne. Ook heb ik gevraagd of het haalbaar is om een donkere versie van mijn website te maken. Dat was nog mogelijk en heb ik uiteindelijk weten te realiseren. <a href="https://github.com/Karima002/i-love-web/wiki/27-november-2024" style="color: #A28F7B;"> Github.</a></p>
    </article>
</section>

      <!-- Standaard code voor het toevoegen van een dag:
            <article>
                <h3>datum</h3>
                <p class="paragraaf">Zie voor meer informatie<a href="" style="color: #A28F7B;"> Github.</a></p> 
            </article>
      -->
      </main>

{% render 'partials/foot.liquid' %}

