<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/stylesprint.css">
    <link rel="stylesheet" href="https://use.typekit.net/rxa8qbs.css">
    <link href="https://fonts.cdnfonts.com/css/gabriola" rel="stylesheet">
    <title>Sprint 3</title>
</head>
<body>
    <header>
        <h1> Learning log</h1>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1920 100">
            <defs>
              <style>
                .cls-1, .cls-2 {
                  fill: #fff8f3;
                }
          
                .cls-2 {
                  font-family: Gabriola, Gabriola;
                  font-size: 72px;
                }
              </style>
            </defs>
            <!-- Generator: Adobe Illustrator 28.7.2, SVG Export Plug-In . SVG Version: 1.2.0 Build 154)  -->
            <g>
              <g id="Layer_1">
                <text class="cls-2" transform="translate(829.68 71.11)"><tspan x="0" y="0">I love web</tspan></text>
                <rect class="cls-1" y="46" width="812" height="9"/>
                <rect class="cls-1" x="1078" y="45" width="812" height="9"/>
              </g>
            </g>
          </svg>
    </header> 

    <main>
        <h2>Sprint 3: All Human</h2>

        <section>
          <article>
              <h3>14 oktober 2024</h3>
              <p class="paragraaf">Vandaag heb ik een Lighthouse-test uitgevoerd en geleerd wat belangrijk is voor het aankomende assessment. Ik heb de checklist van de A11Y Project-website doorgenomen en een projectboard aangemaakt voor de all-human accessible website. Voor de WCAG-audit op woensdag moet ik de Lighthouse-test verder afronden door problemen te documenteren. Daarnaast ga ik handmatig testen uitvoeren, zoals tabben door de website en een screenreader gebruiken. Mijn voortgang houd ik bij in mijn <a href="https://github.com/Karima002/wcag-audit/wiki/WCAG%E2%80%90audit-Serifoglu" style="color: #A28F7B;"> Wiki.</a>: Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/14-oktober-2024" style="color: #A28F7B;"> Github.</a></p>
          </article>
          
          <article>
              <h3>15 oktober 2024</h3>
              <p class="paragraaf">Vandaag heeft Sanne ons een uitleg gegeven over het positioneren van elementen door middel van CSS. Je hebt 5 flavours of position: static, fixed, relative, absolute en sticky: The position CSS property sets how an element is positioned in a document. The top, right, bottom, and left properties determine the final location of positioned elements. Zie hier mijn <a href="https://github.com/Karima002/i-love-web/wiki/15-oktober-2024" style="color: #A28F7B;"> Codepen.</a>Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/15-oktober-2024" style="color: #A28F7B;"> Github.</a></p>
          </article>
          
          <article>
              <h3>16 oktober 2024</h3>
              <p class="paragraaf">Voor vandaag hebben we allereerst een WCAG-test moeten voorbereiden. Dit hebben we gepresenteerd aan onze mentorgroep. Ook hebben we een workshop gekregen over User Experience van HTML. We kregen eerst opdrachten over de functionaliteiten van HTML. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/16-Oktober-2024" style="color: #A28F7B;"> Github.</a></p>
          </article>
          
          <article>
              <h3>17 oktober 2024</h3>
              <p class="paragraaf">Vandaag ben ik bezig geweest met het ordenen van mijn i-love-web. Ik schreef het voorheen in een HTML document. Dit vond ik niet meer fijn omdat ik zo niet het bewijslast met foto's kon toevoegen aan een specifieke dag. Hierdoor ben ik overgestapt naar het documenteren van mijn i-love-web in de Wiki. Ook heb ik een nieuwe strategie bedacht voor aankomende daily checkouts: Gedurende dag schrijven wat ik doe, bij de daily checkout de laatste dingen toevoegen, het plaatsen van bewijslast in issues gedurende de dag. Hierdoor zorg ik ervoor dat ik de daily checkout niet af ga raffelen aan het einde van de dag. Zie voor meer informatie<a href="" style="color: #A28F7B;"> Github.</a></p>
          </article>
          
          <article>
              <h3>18 oktober 2024</h3>
              <p class="paragraaf">Vandaag heb ik gewerkt aan het uitbreiden van de checklist voor een code-review gericht op toegankelijkheid. We hebben nieuwe punten toegevoegd, zoals het controleren van duidelijke classnamen, focus-outline op knoppen en links, correcte structuur van lijsten, gebruik van ARIA-attributen, en voldoende contrast tussen tekst en achtergrond. Deze punten hebben we getest met tools zoals screenreaders, zoekfuncties in de code, en visuele controles. Daarna hebben we in tweetallen een code-review uitgevoerd op elkaars werk en feedback gegeven via GitHub-issues. Tot slot kregen we een inspirerende "We Love Web"-cursus van Dion Pieters. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/18-oktober-2024" style="color: #A28F7B;"> Github.</a></p>
          </article>
          
          <article>
              <h3>21 oktober 2024</h3>
              <p class="paragraaf">Vandaag zijn we begonnen met een workshop kleurencontrast. We begonnen met het proberen van verschillende brillen die je de visuele beperkingen laten zien. Vervolgens zijn we aan de slag gegaan met het kleurengebruik in Figma. Ik heb de gebruikte teksten en kleuren met de kleurencirkel vergeleken. Ook noteerde ik in het Figma document of het een licht-donker kleurcontrast, complementair kleurcontrast en/of warm-koud kleurcontrast is. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/21-oktober-2024" style="color: #A28F7B;"> Github.</a></p>
          </article>
          
          <article>
              <h3>22 oktober 2024</h3>
              <p class="paragraaf">Vandaag ben ik bezig geweest met het responsieve maken van mijn website. Ik heb van een medestudente een tip gekregen om te werken met clamp. Hiermee kan je nettere code schrijven zonder gebruik te maken van @media. . De clamp() functie zorgt ervoor dat de tekstgrootte binnen een bepaald bereik blijft, afhankelijk van de grootte van het scherm (in dit geval de breedte van het venster). De clamp functie wordt als volgt opgebouwd: clamp(min, val, max). Dit heb ik kunnen toepassen op de titel van mijn pagina: font-size: clamp(18px, 5vw, 45px); Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/22-Oktober-2024" style="color: #A28F7B;"> Github.</a></p>
          </article>
          
          <article>
              <h3>24 oktober 2024</h3>
              <p class="paragraaf">Vandaag stond er een sprint review op de planning. Tijdens de sprint review heb ik mijn voortgang van afgelopen weken gepresenteerd. Hierbij heb ik uitgelegd wat in de sprint centraal stond: toegankelijkheid. Vervolgens heb ik een lighthouse test uitgevoerd. Daaruit kwam een percentage van 93% naar voren. Het percentage is nog niet 100% omdat de lighthouse test aangeeft dat het contrast van de voor- en achtergrond niet voldoende is. Deze vraag heb ik voorgelegd aan de opdrachtgever. Hij gaf aan dat er bewust is gekozen voor buttons met weinig contrast. Het idee erachter is dat het contrast kan worden aangepast met een hover. Ook zal een toegankelijke website de button voorlezen als de gebruiker erdoorheen tabt. Zie voor meer informatie<a href="https://github.com/Karima002/i-love-web/wiki/24-oktober-2024" style="color: #A28F7B;"> Github.</a></p>
          </article>
      </section>
      
    </main>