<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/weloveweb.css">
    <link rel="stylesheet" href="https://use.typekit.net/rxa8qbs.css">
    <link href="https://fonts.cdnfonts.com/css/gabriola" rel="stylesheet">
    <title>We love web</title>
</head>


<body>
    <header>
        <h1> We love web</h1>
        <hr/>
    </header>

    <body>
        <!-- 13 september 2024-->
        <h2>Over het maken van gekke en creatieve nonsense: 13 september 2024</h2>

        <p>  <a href="http://www.vasilis.nl/"> Vasils van Gemert</a> heeft een aantal toffe creaties laten zien:</p>

        <ul>
          <li><a href="www.vasilis.nl/flipping-things/">Hier</a> heeft Vasils een website voor zijn master gemaakt. Hij was benieuwd naar de achterkant van schilderijen. Hier heeft hij een ontwerp van gemaakt van alleemaal achterkanten van schilderijen.</li>
          <li><a href="www.vasils.nl/greek-clock/">Hier</a> heeft hij een griekse klok gemaakt. Hij had een oom die een afspraak heeft om 11 uur, maar hij ging nog koffiedrinken. Dit omdat in griekenland 11 uur een uur of 11 is.</li>
          <li><a href="www.vasils.nl/clocks/pix-clock/">Hier</a> heeft Vasils van elke minuut een foto gekozen die de tijd aangeeft en ook elke foto een beschrijving gegeven.</li>
          <li>Vasils heeft ons ook laten nadenken over de toegankelijk van de website. Het Jacoba mullerhuis is voor rolstoelgebruikers ontoegankelijk. Zo dien je ervoor te zorgen dat je website ook toegankelijk is. Mensen die blind moeten een website hebben waarvan de website moet worden voorgelezen. </li>
        </ul>

        <!-- 4 oktober 2024 -->

        <h2>How animation and interactivity help telling a story: 3 oktober 2024</h2>

        <p><strong>Creative developer?</strong></p>
        
        <ul>
          <li>Fancy term for dev with an eye for creativity</li>
          <li>Uses all availible tools to solve a creative and technical challenge</li>
          <li>JS, CSS, WebGL, Processing, Unity (small videogames), GenAI, LLM</li>
        </ul>

        <p><strong>His work <a href="https://vitaarchitecture.com/"> Vita architecture</a></strong></p>

        <ul>
          <li>Vita architecture: modern studio, the design had to follow the athmosphere</li>
          <li>Video on the website to show their work: click button</li>
        </ul>



        <!-- 22 november 2024 -->
        <h2>From pitch to direction: 22 november 2024</h2>

        <p>Process Emiel van Betsbrugge: hierin legt Emiel het proces uit van het maken van een website bij een agency:</p>

      
        <ul>
          <li>Pitch: klant komt naar je met een briefing, met een budget. De agency stelt zich voor en legt uit wat hun werkwijze is.</li>
          <li>Discovery: punten waar nog niet duidelijkheid over is wordt bij discovery besproken</li>
          <li>design & early dev: op een bepaald moment moet de client niet met meer verzoeken komen.</li>
          <li>QA: je stuurt je website naar een external team en testen de website op alle devices.</li>
          <li>Retospective: een terugblik op het project op wat goed is gegaan en wat beter kan de volgende keer. Op deze manier bouw je een snellere workflow</li>
          <li>Active Theory heeft zijn eigen framework. Zo zijn ze niet afhankelijk van andere bedrijven.</li>
        </ul>

        <p>Een website die ik mooi vind die Emiel heeft laten zien: <a href="https://www.thomasmonavon.com/">Thomasmonavon</a></p>
    </header> 

  </body>
</html>
