{% render 'partials/headtest.liquid' stylesheet: 'testcore.css'%}


<h6>Frontend design & development</h6>


<section>
    <audio controls src="https://edu.nl/4hcyx"></audio> <!--voor elke browser die het support speel de audio af met contols -->

    <button class="paused">
        <img class="play" src="/assets/play-button-svgrepo-com.svg" width="32" height="32"> 
        
        <img class="stop" src="/assets/circular-pause-button-svgrepo-com.svg" width="32" height="32">
    </button>
</section>

<script src="scripts/test.js"></script>
