* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.scroll-bar {
    height: .6em;
    position: fixed;
    top: 0;
    background-color: darkblue;
    width: 100%;
    z-index: 1;
    transform-origin: left;
    scale: 0 1;

    animation: scroll linear;
    animation-timeline: scroll(y);
}
 
@keyframes scroll {
    to {
        scale: 1 1;
    }
}

section {
    position: relative;
    
}

img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
     display: block;
}

h1 {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "myriad-pro", sans-serif;
    font-size: 2.3rem;


}

.background {
    padding: 0;
    background-color: black;
    color: white;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

p {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "myriad-pro", sans-serif;
}

.image-container {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50vw;
    height: 50vh;
    animation: fade-in linear;
    animation-timeline: view()  /*animatie begint bij het verschijnen in de viewport*/   
}

@keyframes fade-in {
    from {
        scale: 0.7;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}