*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #fff;
    --background-color: #2B2621;
}

body { 
    background: var(--background-color);  /* Zet de achtergrondkleur van de pagina op een donkerbruine tint */
} 


div {
    display: flex;
    background-color: none;
}

.button-open-menu {
    all: unset;
    padding-left: .5em;
    cursor: pointer;
}

.button-sluit-menu {
    all: unset;
    padding-left: .5em;
    cursor: pointer;
    padding: 1em 0 1em 1em;
}


nav {
    position: fixed;
    left:0; /*navigatiebar beslaat gehele scherm*/
    right: 70em;
    top:0;
    bottom:0;
    translate:-100% 0%; /*de navigatiebar uit beeld schuiven met translate. De nav beweegt zijn eigen breedte 100% naar links.*/
    transition: translate .4s; /*Menu komt binnen .3sec in beeld*/
    background-color: #2B2621;
}

.menu-items {
    display: flex;
    flex-direction: column;
    padding: 1em 0 0 1.5em;
}


nav.toonMenu { /* als menu open is */
    translate: 0% 0%;
}


h1 {
    font-family: "myriad-pro", sans-serif;
    font-size: 2.3rem;
    font-weight: 400; /* Stelt het lettertypegewicht in op normaal (400) */
    font-style: normal;  /* Zet de tekststijl op normaal */
    color: white; /* Zet de kleur van de tekst op wit */
    text-transform: uppercase; /* Zet de tekst in hoofdletters om */
    text-align: center;
    padding: 1em;
    animation: textease 2.2s cubic-bezier(.34,.75,.83,.67) /*disney animation: slow in and slow out */
}

h2 {
    font-family: "myriad-pro", sans-serif;
    font-size: 1.8rem;
    color: white;
    font-weight: 400;
    padding: 1em 0 .3em 1em;
    grid-column: 1/2
}

p {
    grid-column: 1/2;
    padding-left: 1.7em;
    padding-bottom: 1em;
    color: white;
    font-family: "myriad-pro", sans-serif;

}

li {
    color: white;
    font-family: "myriad-pro", sans-serif;
    padding-left: 1.3em;

}

.link {
    color: var(--text-color);
    padding: 1em 0 .3em 1em;
    text-decoration: none;
}

/* Disney animation: slow in and slow out */
@keyframes textease {
    0% {
    translate: 100%; /* Begin de tekst buiten het scherm naar rechts*/
    }
    100% {
        translate: 0; /* Laat de tekst volledig naar zijn eindpositie bewegen. */
    }
}