*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --text-color-card: black;
  --background-color: #2B2621;
  --background-color-card: #fff;
  
}

body { 
    background: var(--background-color);  /* Zet de achtergrondkleur van de pagina op een donkerbruine tint */
} 

div {
    display: flex;
    background-color: none;
}

button {
    all: unset;
    padding-left: .5em;
    cursor: pointer;
}

h1 {
    font-family: "myriad-pro", sans-serif;
    font-size: 2.3rem;
    font-weight: 400; /* Stelt het lettertypegewicht in op normaal (400) */
    font-style: normal;  /* Zet de tekststijl op normaal */
    color: white; /* Zet de kleur van de tekst op wit */
    text-transform: uppercase; /* Zet de tekst in hoofdletters om */
    text-align: center;
    padding: .5em 2em .5em 0;
    flex-grow: 1;
    animation: textease 2.2s cubic-bezier(.34,.75,.83,.67) /*disney animation: slow in and slow out */
}

main {
    padding: 1em 0 1em 2em;
}

h2 {
    font-family: "myriad-pro", sans-serif;
    font-size: 2rem;
    color: white;
    padding-left: .3em;
    font-weight: 800;
  }

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
    padding: 2em 2em 0 0;
}

article {
    background-color: var(--background-color-card);
    padding: 1em;
    display: flex;
    flex-flow: column;
    border-radius: .6em;
  }


h3 {
    grid-column: 1/2;
    padding: 1em 0 1em 1em;
    color: var(--background-color);
    font-family: "myriad-pro", sans-serif;
    font-weight: 800;
}

img {
    padding-top: 1em;
}

.paragraaf {
    grid-column: 1/2;
    padding-left: 1em;
    color: var(--text-color-card);
    font-family: "myriad-pro", sans-serif;

}

li {
    color: white;
}

a {
  color: var(--background-color);
}

/* Disney animation: slow in and slow out */
@keyframes textease {
    0% {
    translate: 100%; /* Begin de tekst buiten het scherm naar rechts*/
    }
    100% {
        translate: 0; /* Laat de tekst volledig naar zijn eindpositie bewegen. */
    }
}

@view-transition { /* Schakelt view-overgangen in voor navigatie binnen hetzelfde domein. bron: https://developer.mozilla.org/en-US/docs/Web/CSS/@view-transition */
    navigation: auto;
}

@keyframes move-out {
    from {
      transform: translateY(0%);
    }
  
    to {
      transform: translateY(-100%); /* Beweegt omhoog uit het zicht */
    }
  }
  
  @keyframes move-in { /* Definieert de 'move-in' animatie voor het nieuwe  element */
    from {
      transform: translateY(100%);
    }
  
    to {
      transform: translateY(0%); /* Beweeg naar de oorspronkelijke positie */
    }
  }
  
/* Pas een animatie toe op de "oude" weergave van een root-element */ 
  ::view-transition-old(root) {
    animation: 0.4s ease-in both move-out;
  }
  
/* Pas een animatie toe op de "nieuwe" weergave van een root-element */
  ::view-transition-new(root) {
    animation: 0.4s ease-in both move-in;
  }