* {
    background-color: #66e5bf;
}

h6 {
    font-size: 5rem;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 6em;
}

@supports (background-clip: text) {
    h6 {
        background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
        background-clip: text;
        color: transparent;
    }
}

section {
    all: initial;
    display: grid;
    place-content: center;
    margin-bottom: 4em;
  }

  
button {
    padding: 1em;
    width: 1em;
    all: initial;
    cursor: pointer;
    border-radius: 70%;
    background: #050542;
    color: #A675F5;
    display: grid;
    place-content: center;

  }
  
  button[hidden] {
    display: none;
  }
  
 
  