*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background: #2B2621;  /* Zet de achtergrondkleur van de pagina op een donkerbruine tint */
} 

div {
    display: flex;
    background-color: none;
}

button {
    all: unset;
    padding-left: .5em;
    cursor: pointer;
}

h1 {
    font-family: "myriad-pro", sans-serif;
    font-size: 2.3rem;
    font-weight: 400; /* Stelt het lettertypegewicht in op normaal (400) */
    font-style: normal;  /* Zet de tekststijl op normaal */
    color: white; /* Zet de kleur van de tekst op wit */
    text-transform: uppercase; /* Zet de tekst in hoofdletters om */
    text-align: center;
    padding: .5em 2em .5em 0;
    flex-grow: 1;
    animation: textease 2.2s cubic-bezier(.34,.75,.83,.67) /*disney animation: slow in and slow out */
}



main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h2 {
    font-family: "myriad-pro", sans-serif;
    font-size: 1.8rem;
    color: white;
    font-weight: 400;
    padding-left: .8em;
    grid-column: 1/2
}



h3 {
    grid-column: 1/2;
    padding-top: 2.5em;
    padding-left: 1em;
    color: white;
    font-family: "myriad-pro", sans-serif;
    font-weight: 800;
}

.paragraaf {
    grid-column: 1/2;
    padding-left: 1em;
    color: white;
    font-family: "myriad-pro", sans-serif;

}

li {
    color: white;
}

h2 {
    font-size: 1rem;
    font-weight: 800;
    font-style: italic;
}


/* Disney animation: slow in and slow out */
@keyframes textease {
    0% {
    translate: 100%; /* Begin de tekst buiten het scherm naar rechts*/
    }
    100% {
        translate: 0; /* Laat de tekst volledig naar zijn eindpositie bewegen. */
    }
}

@view-transition { /* Schakelt view-overgangen in voor navigatie binnen hetzelfde domein. bron: https://developer.mozilla.org/en-US/docs/Web/CSS/@view-transition */
    navigation: auto;
}

@keyframes move-out {
    from {
      transform: translateY(0%);
    }
  
    to {
      transform: translateY(-100%); /* Beweegt omhoog uit het zicht */
    }
  }
  
  @keyframes move-in { /* Definieert de 'move-in' animatie voor het nieuwe  element */
    from {
      transform: translateY(100%);
    }
  
    to {
      transform: translateY(0%); /* Beweeg naar de oorspronkelijke positie */
    }
  }
  
  ::view-transition-old(root) {
    animation: 0.6s ease-in both move-out; /* Animeren over 0.6 seconden met een 'ease-in' timingfunctie */
  }
  
  ::view-transition-new(root) {
    animation: 0.6s ease-in both move-in;
  }