body { 
    background: #2B2621;  /* Zet de achtergrondkleur van de pagina op een donkerbruine tint */
} 

:root {
    --text-color: #fff;
    --text-color-card: black;
    --background-color: #2B2621;
    --background-color-card: #fff;
    
  }


h1 {
    font-family: "myriad-pro", sans-serif;
    font-size: 2.3rem;
    font-weight: 400; /* Stelt het lettertypegewicht in op normaal (400) */
    font-style: normal;  /* Zet de tekststijl op normaal */
    color: white; /* Zet de kleur van de tekst op wit */
    text-transform: uppercase; /* Zet de tekst in hoofdletters om */
    text-align: center;
    padding-right: 1em;
    animation: textease 2.2s cubic-bezier(.34,.75,.83,.67) /*disney animation: slow in and slow out */

}

h2 {
    font-family: "myriad-pro", sans-serif;
    font-size: 1.8rem;
    color: white;
    font-weight: 400;
    padding-left: .7em;
    grid-column: 1/2;
}

a {
    color: var(--text-color);
}

p {
    grid-column: 1/2;
    padding-left: 1.2em;
    color: white;
    font-family: "myriad-pro", sans-serif;

}

li {
    color: white;
    font-family: "myriad-pro", sans-serif;
    padding-left: 1.3em;

}

/* Disney animation: slow in and slow out */

@keyframes textease {
    0% {
    translate: 100%; /* Begin de tekst buiten het scherm naar rechts*/
    }
    100% {
        translate: 0; /* Laat de tekst volledig naar zijn eindpositie bewegen. */
    }
}
